<!doctype html>
<html>

<head>

  <title>V75 Ligan</title>

  <meta name="viewport" 
  content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta charset="UTF-8">

  <script src="bower_components/platform/platform.js">
  </script>

  <link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="bower_components/font-roboto/roboto.html">
  <link rel="import" href="bower_components/paper-button/paper-button.html">
  <link rel="import" href="bower_components/paper-input/paper-input.html">
  <link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
  <link rel="import" href="bower_components/core-overlay/core-overlay.html">
  <link rel="import" href="bower_components/paper-dialog/paper-dialog-transition.html">
  <link rel="import" href="bower_components/core-icon/core-icon.html">
  <link rel="import" href="bower_components/core-icons/core-icons.html">
  <link rel="import" href="bower_components/polymer-cookie/polymer-cookie.html">


  <style>
  html,body {
    height: 100%;
    width: 800px;
    border: 1px;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
    font-size: 130%;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }
  paper-dialog {
    width: 600px;
    min-width: 630px;
  }


  </style>
</head>

<polymer-element name="my-horseitem" attributes="startNo name" noscript>
  <template>
    <style>
      div { width: 100%; }
      paper-button { text-transform: none; width: 100%; text-align: left;}
    </style>
    <div horizontal layout>
      <paper-button raised>
	<div relative horizontal layout>
	  <span style="font-weight:bold">{{startNo}}</span>
	  <span style="padding-left:40px">{{name}}</span>
	</div>
      </paper-button>
    </div>
  </template>
</polymer-element>


<polymer-element name="my-horselist" attributes="raceNo model">
  <template>
    <style>
      div { width: 100%; }
      paper-button { text-transform: none; width: 100%;}
    </style>
    <div vertical layout>
      <template repeat="{{ horse,idx in model.races[raceNo]}}">
	<my-horseitem on-click="{{selectHorse}}" startNo="{{idx+1}}" name="{{horse}}"></my-horseitem> 
      </template>
    </div>
  </template>
  <script>
    Polymer('my-horselist', {
        created: function() {
	},
        selectHorse: function(e,det,snd) {
	        var horseIdx = e.target.templateInstance.model.idx;
		this.model.winners[this.raceNo] = this.model.races[this.raceNo][horseIdx];
		console.log(this.raceNo + " has winner " + horseIdx);
		hidePopup();
        }
    });
  </script>
</polymer-element>


<polymer-element name="my-raceitem" attributes="raceNo model" noscript>
  <template>
    <style>
      div { width: 100%; }
      paper-button { text-transform: none; width: 100%;}
    </style>
    <div horizontal layout>
      <paper-button raised>
	<div relative horizontal layout>
	  <span style="font-weight:bold">V75-{{raceNo+1}}</span>
	  <span style="padding-left:40px">{{model.winners[raceNo]}}</span>
	</div>
      </paper-button>
    </div>
  </template>
</polymer-element>


<polymer-element name="my-racelist" attributes="model">
  <template>
    <div vertical layout>
      <template repeat="{{ race,idx in model.races }}">
	<my-raceitem on-click="{{selectRace}}" raceNo="{{idx}}" model="{{model}}"></my-raceitem> 
      </template>
    </div>
  </template>
  <script>
    Polymer('my-racelist', {
	created: function() {
	},
        selectRace: function(e,det,snd) {
		showPopup(e.target.templateInstance.model.idx);
        }
    });
  </script>
</polymer-element>

<polymer-element name="my-model">
  <template>
  </template>
  <script>
    Polymer('my-model', {
	created: function() {
		this.track = "Solvalla";
		this.date = "2014-10-19"
	        this.races = [];
		this.winners = [];
		this.races = [
				[
				   "Wingait Ida",
				   "Frida Montana",
				   "Impression",
				   "Air Frame",
				   "Room To Go",
				   "Bear Glide",
				   "Lotuscherie",
				   "Mellby Briolett",
				   "Neona Princess",
				   "Digital Pointer",
				   "Joy Rib",
				   "Rondine d'Amore(IT)",
				],[
				   "Reckless",
				   "Maverick Man",
				   "Screen Height",
				   "Tenzing",
				   "Tiberius F.",
				   "Gimeheaven Sisu",
				   "Kan Ha",
				   "Express Duo*(FI)",
				   "Alkalizer Am",
				   "Tokio Hotel Hall (DK)",
				   "Emil Tuffing",
				   "Poochai",
				],[
				   "Somersault Sally",
				   "Face'em",
				   "Harmoni Sund",
				   "Across My Heart",
				   "Soonerorlater",
				   "Sugar Flaxy",
				   "Candy Store",
				   "Iponema (US)",
				   "Baharat",
				   "Diamond River",
				   "Spring Kronos (IT)",
				   "Olymbia Gold"
				]
			];
		this.winners.push(this.races[0][3]);
		for(r = 1; r < 7; r++) 
		    this.winners.push("Välj häst");
			       
		for(r = 3; r < 7; r++) {
	            this.races.push([]);
		    for(h = 0; h < 10; h++) {
		        this.races[r].push("Häst " + r.toString() + h.toString());
                    }
                }
	}
    });
  </script>
</polymer-element>

<polymer-element name="my-main" >
  <template>
    <style>
      my-horselist: { width: 100%; }
    </style>
    <my-model id="model"></my-model>
    <polymer-cookie id="login_cookie"    name="login" value="{{login}}"></polymer-cookie>
    <polymer-cookie id="password_cookie" name="password" value="{{password}}"></polymer-cookie>

    <style>
      core-header-panel {
	height: 800px;
        width: 600px;
        
      }
      core-toolbar {
	      font-weight: bold;
      }
    </style>
    <paper-dialog id="popup">
      <my-horselist model="{{model}}" raceNo="{{popupRaceNo}}" horses="{{popupHorses}}" ></my-horselist>
    </paper-dialog>

    <paper-dialog id="loginDialog" heading="Logga in" autoCloseDisabled="true" backdrop="true">
      <div id="d" horizontal layout>
	<div style="width:5em" horizontal layout center>E-post</div>
	<paper-input id="email" label="E-post"></paper-input>
      </div>
      <div horizontal bottom layout>
	<span style="width:5em"  horizontal layout center>Lösenord</span>
	<paper-input id="password" label="Lösenord" type="password"></paper-input>
      </div>
      <paper-button onclick="submitResult();" autofocus affermative>Logga In</paper-button>
    </paper-dialog>

    <div>
      <core-header-panel>
	<core-toolbar>
	  <div style="width:100%;" vertical layout>
	    <span style="text-align:left;">V75-Ligan</span>
	    <div horizontal layout>
	      <span style="text-align:left; font-size: 40%; font-weight:normal">{{model.date}} {{model.track}}</span>
	      <span flex></span>
	      <span style="text-align:left; font-size: 40%; font-weight:normal">{{login}}</span>
	    </div>
	  </div>
	</core-toolbar>
	<div vertical layout>
	  <my-racelist model="{{model}}"></my-racelist>
	  <div style="width:100%; font-size:80%" horizontal end-justified layout>
	    <paper-button on-click="{{saveIt}}" style="background-color: {{savecolor}}; width:6em; margin-top: 40px;" raised>Spara</paper-button>
	    <paper-button on-click="{{logout}}" style="width:6em; margin-top: 40px;" raised>Logga ut</paper-button>
	  </div>
	</div>
      </core-header-panel>

    </div>
  </template>
  <script>
    Polymer('my-main', {
	ready: function() {
		this.model = this.$.model
		this.races = this.$.model.races;
		this.winners = this.$.model.winners;
		console.log("Login: " + this.login);
		console.log("Password: " + this.password);
		if(!this.isLoggedIn())
			this.showSubmitPopup();
	},
        handleClick: function(e,detail,sender) {
	   console.log("Clicked " + e.target.templateInstance.model.race);
        },
        showPopup: function(race) { 
	   console.log("Login: " + this.login);
	   console.log("Password: " + this.password);
	   this.popupRaceNo = race;
	   this.popupHorses = this.races[race];
	   this.$.popup.toggle();
	},
        hidePopup: function(race) { 
	   this.$.popup.toggle();
	   this.savecolor="red";
	},
	showSubmitPopup: function() {
		this.$.loginDialog.toggle();
	},
	isLoggedIn: function() {
		if(this.login ==='undefined') return false;
		else return true;
	},
	tryLogin: function() {
		console.log("email: " + this.$.email.value);
		console.log("password: " + this.$.password.value);
		this.login = this.$.email.value;
		this.password = this.$.password.value;
		this.logged_in = true;
		this.$.loginDialog.toggle();
	},
	saveIt: function() {
		console.log("Save data");
		delete this.savecolor
        },
	logout: function() {
		delete this.login
		delete this.password
		console.log("logout typeof this.login:"+ typeof this.login);
		this.showSubmitPopup();
        }
    });
  </script>
</polymer-element>


<body unresolved center layout>
  <my-main></my-main>
</body>
<script>
  function showPopup(race) {
     console.log("show popup");
     document.querySelector("my-main").showPopup(race);
  }
  function hidePopup() {
     document.querySelector("my-main").hidePopup();
  }
  function submitResult() {
     document.querySelector("my-main").tryLogin();
  }
</script>
</html>
